.EmailModal-outer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.EmailModal-outer-shown {
  display: flex;
}

.EmailModal {
  flex: 1 1 0;
  width: 100%;
  max-width: 960px;
  margin: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 48px;
  position: relative;
}

.EmailModal-close {
  background: transparent;
  color: #ccc;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  line-height: 48px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.EmailModal-field {
  flex: 0 0 auto;
  line-height: 48px;
  border-bottom: 1px solid #eee;
  display: flex;
}

.EmailModal-label {
  flex: 0 0 128px;
}

.EmailModal-field input {
  flex: 1;
  border: none;
}

.EmailModal-body {
  flex: 1 1 0;
  border: none;
  resize: none;
  padding: 8px 0;
}
