<form>
  <fieldset>

    <div v-if="campaign==='mp'">
      <label for="state">[{$t("state")}]</label>
      <select name="state" id="select-state" v-model="state" class="styled-select">
        <option v-bind:selected="i === 0"
                :value="code" v-for="(code, i) in states">
              [{$t("states." + code)}]</option>
      </select>
    </div>

    <div v-if="campaign==='mp'">
      <label for="constituency">[{$t("constituency")}]</label>
      <select name="constituency" v-model="constituencyCode" class="styled-select">
        <option :value="constituency.code" v-for="(constituency,i) in constituencies">[{constituency.name}]</option>
      </select>
      <p>Don't know your constituency? Check <a target="_blank" rel="noopener" href="http://netafilter.in">here</a> for a map.</p>
    </div>

    <div v-if="campaign==='bank'||campaign == 'service'">
      <label for="service">[{$t("service")}]</label>
      <select name="service" id="select-service" v-model="serviceIndex" class="styled-select">
        <option :value="index" v-for="(service,index) in services">[{service.name}]</option>
        <option value="bank">Bank</option>
      </select>
    </div>

    <div v-if="campaign==='bank'">
      <label for="bank">[{$t("bank")}]</label>
      <select name="bank" id="select-bank" v-model="bankIndex" class="styled-select">
        <option :value="index" v-for="(bank, index) in banks">[{bank.name}]</option>
      </select>
    </div>

    <div>
      <label for="email">[{$t("email")}]</label>
      <input name="email" size="60" v-model="email" readonly>
    </div>

    <label for="content">[{$t("response")}]</label>
      <component :is="campaign"
        @copied="copied"
        :addressee="service.name"
        :address="service.address"
        :body="response"></component>

  </fieldset>


  <div>

    <label for="service-name">[{$t("contempt_notice_msg")}] : <span class="service-name">[{serviceName}]</span></label>

    <button id="btn-email-mobile" class="btn-email btn-primary" v-if="mobile"
      v-on:click.stop.prevent="sendEmail()">[{$t("send_email")}]</button>

    <p v-if="showcopymsg" class="success-box">[{$t("copy_msg")}]</p>

    <button class="btn-email btn-primary" v-if="!mobile"
      v-on:click.stop.prevent="sendEmail('gmail')">GMail</button>
    <button class="btn-email btn-primary" v-if="!mobile"
      v-on:click.stop.prevent="sendEmail('yahoo')">Yahoo!</button>
    <button class="btn-email button-unstyled" v-if="!mobile"
      v-on:click.stop.prevent="sendEmail('other')">Other</button>

  </div>

  <div v-if="twitter">
    <h3>[{$t("tweet")}]</h3>
    <a class="twitter-share-button"
      v-bind:href="tweeturl"
    >
    [{$t("tweet")}]</a>
  </div>
</form>
