<form id="resist-form">
	<fieldset>

		<div>
			<label for="service">Service</label>
			<select name="service" id="select-service">
				{% for service in site.data.services %}
					<option value="{{service.Service}}">{{service.Service}}</option>
				{% endfor %}
				<option value="custom">Not on the list</option>
			</select>
		</div>

		<div>
			<label for="address">Address</label>
			<textarea name="address" rows="5" cols="50"></textarea>
		</div>

		<div>
			<label for="email">Email</label>
			<input name="email" size="60">
		</div>

		<div>
			<label for="twitter">Twitter</label>
			<input name="twitter" size="60">
		</div>
		<label for="content">Response</label>
		<textarea cols="70" rows="10" name="content">
		</textarea>

		<div>
			<h3>Step 1</h3>
			<label for="dept">Send notice of contempt to: <span name="dept"></span></label>
			<button class="btn-email" id="btn-dept-gmail" data-content="content" data-subject="{{page.subject}}">GMail</button>
			<button class="btn-email" id="btn-dept-yahoo" data-content="content" data-subject="{{page.subject}}">Yahoo!</button>
			<button class="btn-email" id="btn-dept-email" data-content="content" data-subject="{{page.subject}}">Other Email</button>
		</div>

		<div>
			<h3>Step 2</h3>
			<textarea cols="70" rows="10" name="content2">
{% include draft-notice-uidai.inc %}
			</textarea>

			<label for="dept">Send notice of contempt to UIDAI using:</label>
			<button class="btn-email" id="btn-dept-gmail" data-content="content2" data-subject="{{page.subject}}">GMail</button>
			<button class="btn-email" id="btn-dept-yahoo" data-content="content2" data-subject="{{page.subject}}">Yahoo!</button>
			<button class="btn-email" id="btn-dept-email" data-content="content2" data-subject="{{page.subject}}">Other Email</button>
		</div>
	</fieldset>


</form>

<script id="draft-notice-dept" type="text/template">
{% include draft-notice-dept.inc %}
</script>
