<form id="resist-form">
	<fieldset>
		<div>
			<label for="service">Service</label>
			<select name="service" id="select-service">
				{% for service in site.data.services %}
					<option value="{{service.Service}}">{{service.Service}}</option>
				{% endfor %}
				<option value="custom">Not on the list</option>
			</select>
		</div>
	
		<div>
			<label for="address">Address</label>
			<textarea name="address" rows="5" cols="50"></textarea>
		</div>
	
		<div>
			<label for="email">Email</label>
			<input name="email" size="60">
		</div>
	
		<div>
			<label for="twitter">Twitter</label>
			<input name="twitter" size="60">
		</div>
		<label for="content">Response</label>
		<textarea cols="70" rows="10" name="content">
		</textarea>

		<div>
			<h3>Step 1</h3>
			<label for="dept">Send notice of contempt to: <span name="dept"></span></label>
			<button class="btn-email" id="btn-dept-gmail" data-content="content" data-subject="{{page.subject}}">GMail</button>
			<button class="btn-email" id="btn-dept-yahoo" data-content="content" data-subject="{{page.subject}}">Yahoo!</button>
			<button class="btn-email" id="btn-dept-email" data-content="content" data-subject="{{page.subject}}">Other Email</button>
		</div>

		<div>
			<h3>Step 2</h3>
			<textarea cols="70" rows="10" name="content2">
{% include draft-notice-uidai.inc %}
			</textarea>
			
			<label for="dept">Send notice of contempt to UIDAI using:</label>
			<button class="btn-email" id="btn-dept-gmail" data-content="content2" data-subject="{{page.subject}}">GMail</button>
			<button class="btn-email" id="btn-dept-yahoo" data-content="content2" data-subject="{{page.subject}}">Yahoo!</button>
			<button class="btn-email" id="btn-dept-email" data-content="content2" data-subject="{{page.subject}}">Other Email</button>
		</div>
	</fieldset>


</form>

<script id="draft-notice-dept" type="text/template">
{% include draft-notice-dept.inc %}
</script>

<script>

var selectFormItem = function(name) {
	return document.querySelector('#resist-form *[name=' + name + ']');
};

var disableAndSetValue = function(item, val) {
	if (item.tagName === 'textarea') {
		item.innerText = val.trim();	
	}
	else {
		item.value = val;
	}
	item.disabled = true;
};

var setValue = function(item, val) {
	item.value = val.trim();
}

var setInerText = function(item, text) {
	item.innerText = text.trim();
}

var fixEmail = function(email) {
	return email.replace(/[\[\(]dot[\]\)]/g, '.').replace(/[\[\(]at[\]\)]/g, '@').replace(/[\n\r]/g, ', ').replace(', , ', ', ');
};

var fixTwitter = function(handles) {
	if (!handles) {
		return '';
	}
	return "@" + handles.trim();
}

var emailContent = function(address) {
	var content = document.getElementById('draft-notice-dept').innerText;
	return address + "\n\n" + content;
};

var IEMobile = /IEMobile/i.test(navigator.userAgent);
var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|Opera Mini/i.test(navigator.userAgent) && !IEMobile;

var sendEmailMobile = function(toAddress, subject, bccAddress, encodedBody) {
	window.location.href = "mailto:"+ encodeURIComponent(toAddress) +"?subject="+encodeURIComponent(subject)+"&bcc="+encodeURIComponent(bccAddress)+"&body="+encodedBody;
	window.location.hash = '#share';
}

var sendEmail = function() {

	// var to, subject, bcc, body

	var encodedBody = encodeURIComponent(body);

	if (isMobile) {
		sendEmailMobile(to, subject, bcc, encodedBody);
		return false;
	}
	else {

	}

}

var services = {% include services.json %};

document.getElementById('select-service').addEventListener('change', function() {
	var service = services[this.selectedIndex];
	disableAndSetValue(selectFormItem('dept'), service['Department']);
	disableAndSetValue(selectFormItem('address'), service['Address']);
	disableAndSetValue(selectFormItem('email'), fixEmail(service['Email']));
	disableAndSetValue(selectFormItem('twitter'), fixTwitter(service['Twitter']));
});
</script>