<header class="site-header" role="banner">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a> -->

    <nav class="site-nav">
        <h2>Petition your</h2>
      {% for my_page in site.pages %}
        {% if my_page.header==true %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.headertitle | escape }}</a>
        {% endif %}
      {% endfor %}

      <select name="lang" class="select-lang styled-select" v-model="locale">
        {% for lang in site.data.i18n %}
          <option value="{{lang[0]}}">{{lang[1].language_name}}</option>
        {% endfor %}
      </select>
    </nav>
  </div>

</header>
