<!--
<header class="site-header" role="banner">

  <div class="wrapper">
    <nav class="site-nav">
        <h2>Petition your</h2>
      {% for my_page in site.pages %}
        {% if my_page.header==true %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">[{ $t("headertitle.{{ my_page.headertitle }}") }]</a>
        {% endif %}
      {% endfor %}

      <select name="lang" class="select-lang styled-select" v-model="locale">
        {% for lang in site.data.i18n %}
          <option value="{{lang[0]}}">{{lang[1].language_name}}</option>
        {% endfor %}
      </select>
    </nav>
  </div>
</header>
-->

<header id="header">
  <div class="mui-appbar mui--appbar-line-height navbar-styles">
    <div class="mui-container-fluid navbar-container">
      <img src="{{ "/public/Logo_website.png" | relative_url }}" alt="" class="mui--align-middle navbar-logo">
      <div class="mui-dropdown mui--pull-right navbar-language-dropdown">
        <select name="lang" class="select-lang mui-btn dropdown-styles" v-model="locale">
        {% for lang in site.data.i18n %}
          <option value="{{lang[0]}}">{{lang[1].language_name}}</option>
        {% endfor %}
      </select>
      </div>
    </div>
  </div>
</header>
