<header class="site-header" role="banner">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a> -->

    <nav class="site-nav">
      {% for my_page in site.pages %}
        {% if my_page.header==true %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}

      <select name="lang" class="select-lang" v-model="locale">
        <option value="en">English</option>
        <option value="hi">हिंदी</option>
      </select>
    </nav>
  </div>

</header>
