<form id="resist-form">
  <fieldset>
    <div>
      <label for="service">Service</label>
      <select name="service" id="select-service" v-model="serviceIndex">
        <option :value="index" v-for="(service,index) in services"><%service.name%></option>
        <option value="custom">Not on the list</option>
      </select>
    </div>

    <div v-if="service.address">
      <label for="address">Address</label>
      <textarea name="address" rows="5" cols="50"><%service.address%></textarea>
    </div>

    <div v-if="serviceIndex==0">
      <label for="bank">Bank</label>
      <select name="bank" id="select-bank" v-model="bankIndex">
        <option :value="index" v-for="(bank, index) in banks"><%bank.name%></option>
      </select>
    </div>

    <div>
      <label for="email">Email</label>
      <input name="email" size="60" v-model="email">
    </div>

    <div v-if="service.twitter">
      <label for="twitter">Twitter</label>
      <input name="twitter" size="60" v-model="service.twitter">
    </div>

    <label for="content">Response</label>
      <textarea cols="70" rows="10" name="content"><%service.address%>
<%response%>
    </textarea>
  </fieldset>

  <div>
    <h3>Send Email</h3>
    <label for="dept">Send notice of contempt to: <span class="service-name"><%serviceName%></span></label>
    <button class="btn-email" id="btn-dept-gmail">GMail</button>
    <button class="btn-email" id="btn-dept-yahoo">Yahoo!</button>
    <button class="btn-email" id="btn-dept-email">Other Email</button>
  </div>
</form>

<!-- This is the generic service notice for "services" -->
<script id="draft-notice-service" type="text/template">
{% include draft-notice-dept.inc %}
</script>

<!-- Specific notice to be sent to banks -->
<script id="draft-notice-bank" type="text/template">
{% include draft-notice-bank.inc %}
</script>

<script>
// TODO: Maybe load this async?
window.services = {% include services.json %}
window.banks = {% include banks.json %}

</script>
<script src="/public/app.js"></script>
