body{
    color: #1F2D3D;
    background-color: #f8f8f8;
}

.mui-appbar{
    background-color: none !important;
}
.navbar-styles{
    background-color: tomato;
}

.navbar-logo{
    width: 200px;
}



.site-nav .page-link{
    color: #fafafa;
    border-bottom: none;
    font-weight: 600;
}

.form-tab{
    li{
        width: 50%;
        display: inline-block;
        text-align: center;
    }
    a{
        color: #8492A6 !important;
        font-size: 14px !important;
        font-weight: 600;
        border-bottom: solid 2px #EFF2F7;
    }
    .mui--is-active{
        border-bottom: none !important;
        background-color: #D34D5F;
        a{
        color: #fafafa !important;
        font-weight: 600;
        font-size: 20px;
        z-index: 100;
        }
    }
}

.form-container{
    padding: 20px;
}

.site-nav{
    h2{
        margin: 20px 5px;
    }
    a{
        font-size: 24px;
    }
}
.styled-select {
   height: 48px;
   width: 100%;
   background-color: #EFF2F7;
   border: none;
   font-size: 16px;
   padding: 10px;
}

/* .styled-select select {
   background: white;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; If you add too much padding here, the options won't show in IE
   width: 268px;
} */

/* --- */

.page-heading{
    font-weight: 600;
    padding: 16px 0 0 16px;
    font-size: 32px;
}

.page-subheading{
    padding: 0 0 0 16px;
    font-size: 16px;
    color: #8492A6;
}

label{
    margin-top: 10px;

}

/* --- */

.btn-primary{
    background-color: #da3a51;
    color: #fafafa;
    padding: 10px 25px;
    border: solid 1px #da3a51;
    width: 30%;
    height: 48px;
    text-transform: uppercase;
    &:hover{
        background-color: #CA2F45;
        cursor:pointer
    }
}

.button-unstyled{
    border: none;
    color: #3498db;
    &:hover{
        cursor:pointer
    }
}

.home-banner{
    border-bottom: solid 1px #eeeeee;
}

.home-heading{
    margin-top: 0;
}

.home >.page-heading{
    margin-top: 24px;
    padding: 24px 0 0 40px;
}

.success-box{
    background-color: #A0DCBD;
    padding: 24px;
    border-radius: 5px;
    border: solid 1px #61C491;
    color: #1F2D3D;
}

.uppercase{
    text-transform: uppercase;
}

.helper-text{
    font-size: 14px;
    color: #8492A6;
    margin-top: 4px;
    font-weight: 400;
}

.no-padding{
    padding: 0 !important;
}

.footer{
    background-color: #F9FAFC;
    h2{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .btn-primary{
    width: 100%;
    }
    .navbar-logo{
    width: 180px;
    height: 30px;
    width: auto;
    }
    .dropdown-styles{
        height: 30px !important;
    }

}

