.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.App > * {
  position: relative;
}

.App > *::before {
  content: ' ';
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  left: -999%;
  right: 100%;
}

.App > *::after {
  content: ' ';
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -999%;
}

.App-header {
  background-color: #f45;
  color: #fff;
  height: 48px;
  line-height: 48px;
  display: flex;
}

.App-logo {
  flex: 0 0 auto;
}

.App-title {
  flex: 1 1 0;
}

.App-intro {

}

.App-campaign:nth-of-type(2n) {
  background-color: #eee;
}
