.EmailButton-group {
  flex: 0 1 320px;
  display: flex;
  justify-content: flex-end;
  margin: 4px 0;
}

.EmailButton-view {
  display: block;
  min-height: 48px;
  flex: 1 0 0;
  color: #f45;
  cursor: pointer;
  border: none;
  background: transparent;
}

.EmailButton {
  flex: 1 0 0;
  background-color: #f45;
  color: #fff;
  border: none;
  height: 48px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 4px;
}

.EmailButton-view-disabled {
  color: #ccc;
  cursor: default;
}

.EmailButton-disabled {
  background-color: #ccc;
  cursor: default;
}
