.LanguageSelect {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
  margin: 0 4px;
  border-radius: 3px;
  flex: 0 0 auto;
  min-width: 256px;
  text-decoration: none;
  padding: 0 8px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.LanguageSelect > option {
  height: 48px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.LanguageSelect:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}
