.TargetSelect-group {
  flex: 2 2 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.TargetSelect {
  flex: 1 0 240px;
  width: 0;
  background-color: #fff;
  color: #666;
  border: 1px solid #666;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
  margin: 4px;
  border-radius: 3px;
  padding: 0 8px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.TargetSelect:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #666;
}
