---
layout: default
---

<div class="home">

  <div id="app">


    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 class="page-heading">[{$t("title")}]</h1>
        [{$t("petition." + campaign)}]

        {{ content }}

        {% include campaign-form.html %}
      </div>
    </main>
  </div>

  <!-- ADD campaign specific data here -->
  <!-- This is the generic service notice for "services" -->

  <script>
    window.petitions = {}
    {% for petition in site.petitions %}
    window.petitions['{{petition.slug}}'] = {}
    {% endfor %}

  </script>

  {% for petition in site.petitions %}
  {% capture petitionslug %}{{page.petition | append:'-en'}}{% endcapture %}

  {% if petitionslug == petition.slug %}
  <script id="{{page.petition}}" type="text/template">
    {{ petition.content }}
  </script>
  {% endif %}

  {% endfor %}
  <script>
    {% if page.petition contains 'gov' %}
    window.services = {{site.data.services | jsonify}}
    {% elsif page.petition contains 'mp' %}
    window.states   = {{site.data.states | jsonify}}
    {% elsif page.petition contains 'mobile' %}
    window.telcos   = {{site.data.telcos | jsonify}}
    {% elsif page.petition contains 'bank' %}
    window.banksList= {{site.data.banks | jsonify}}
    {% endif %}
  </script>
</div>
