---
layout: default
---

<div class="home">
  <div id="app">
    {% include header.html %}
      <div class="mui-container">
        <div class="mui-row">
          <div class="mui-col-md-12">
             <h1 class="page-heading">[{$t("title")}]</h1>
        <p class="page-subheading">[{$t("petition." + campaign)}]</p>
        {{ content }}
        {% include campaign-form.html %}
          </div>
      </div>
        </div>
  </div>
  <!-- ADD campaign specific data here -->
  <!-- This is the generic service notice for "services" -->
  {% for notice in page.drafts %}
    <script id="draft-notice-{{notice}}" type="text/template">{% include draft-notice-{{notice}}.md %}</script>

    <script>
    {% if notice == 'service' %}
      window.services = {{site.data.services | jsonify}}
      window.banks    = {{site.data.banks | jsonify}}
    {% elsif notice == 'mp' %}
      window.states   = {{site.data.states | jsonify}}
    {% endif %}
    </script>
  {% endfor %}

</div>
