---
layout: default
---

<div class="home">

  <div id="app">


    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 class="page-heading">[{$t("title")}]</h1>
        [{$t("petition." + campaign)}]

        {{ content }}

        {% include campaign-form.html %}
      </div>
    </main>
  </div>

  <!-- ADD campaign specific data here -->
  <!-- This is the generic service notice for "services" -->

  {% for notice in page.drafts %}
    <script id="draft-notice-{{notice}}" type="text/template">{% include draft-notice-{{notice}}.md %}</script>

    <script>
    {% if notice == 'service' %}
      window.services = {{site.data.services | jsonify}}
    {% elsif notice == 'mp' %}
      window.states   = {{site.data.states | jsonify}}
    {% elsif notice == 'bank' %}
      window.banksList= {{site.data.banks | jsonify}}
    {% endif %}
    </script>
  {% endfor %}

</div>
