<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="app">
      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>

    <!-- TODO: Make the layout/page more sane -->
    <!-- This is the generic service notice for "services" -->
    <script id="draft-notice-service" type="text/template">
    {% include draft-notice-dept.inc %}
    </script>

    <!-- Specific notice to be sent to banks -->
    <script id="draft-notice-bank" type="text/template">
    {% include draft-notice-bank.inc %}
    </script>

    <script>
    // TODO: Maybe load this async?
    const i18nMsgs  = {{site.data.i18n | jsonify}}
    window.services = {{site.data.services | jsonify}}
    window.banks    = {{site.data.banks | jsonify}}
    window.states   = {{site.data.states | jsonify}}
    </script>
    <script src="/public/app.js"></script>

    {% include footer.html %}

  </body>

</html>
