---
layout: default
---

<div class="home" id="app">

  <h1 class="page-heading">[{$t("title")}]</h1>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

</div>


<!-- <div class="home" id="app">
    <div class="home-banner"><img src="./assets/sfm-banner.png" alt="" width="100%"></div>
  <h1 class="page-heading">[{$t("title")}]</h1>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}

    <div style="text-align: center">
        <h2 class="home-heading">Submit a petition to your</h2>
        <button class="btn-primary" v-on:click.stop.prevent="sendEmail('gmail')">MP/CM</button>
        <button class="btn-primary"v-on:click.stop.prevent="sendEmail('yahoo')">Service Provider</button>
        <button class="btn-primary"v-on:click.stop.prevent="sendEmail('yahoo')">Service Provider</button>
    </div>

    </div>
  </main>

</div> -->
